dotnetscrape_lib/DataObjects/NapaB2B/xsd/PartOrderResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PartOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StoreID" type="xs:unsignedInt" />
        <xs:element maxOccurs="unbounded" name="PartOrderOut">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LineAbbrev" type="xs:string" />
              <xs:element name="PartNumber" type="xs:unsignedInt" />
              <xs:element name="TAMSErrorMsg" />
              <xs:element name="QtyOnHand" type="xs:decimal" />
              <xs:element name="Price">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PriceType" type="xs:string" />
                    <xs:element name="ListPrice" type="xs:decimal" />
                    <xs:element name="YourCost" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="StatusCode" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>