dotnetscrape_lib/DataObjects/NapaB2B/xsd/POInvoiceRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="POInvoiceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StoreID" type="xs:unsignedInt" />
        <xs:element name="AccountPassword" type="xs:string" />
        <xs:element name="PONumber" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>