dotnetscrape_lib/DataObjects/NapaB2B/xsd/PriceRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PriceAvailabilityRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StoreID" type="xs:string" />
        <xs:element name="AccountPassword" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="unbounded" name="Part" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LineAbbrev" type="xs:string" />
              <xs:element name="PartNumber" type="xs:string" />
              <xs:element name="PartMessage" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="RequestID" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>