dotnetscrape_lib/DataObjects/NapaB2B/xsd/PriceResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PriceAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StoreID" type="xs:string" nillable="true" minOccurs="0"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="PartPriceAvailability">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LineAbbrev" type="xs:string" />
              <xs:element name="PartNumber" type="xs:string" />
              <xs:element name="TAMSErrorMsg" type="xs:string"/>
              <xs:element name="QtyOnHand" type="xs:decimal" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Price">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PriceType" type="xs:string" />
                    <xs:element name="ListPrice" type="xs:decimal" />
                    <xs:element name="YourCost" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DCBalanceQty" type="xs:decimal" nillable="true" minOccurs="0"/>
              <xs:element name="DeliveryTime" type="xs:string" nillable="true" minOccurs="0"/>
              <xs:element name="PartDescription" type="xs:string" nillable="true" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="StatusCode" type="xs:int" use="required" />
      <xs:attribute name="StatusMessage" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>